<html>
<title>Login</title>
<body>
<div
  class="shadow pb-3 pt-4 mb-5 bg-body bg-body rounded text-black m-5 fPersian"
>
<div class="container">
  {% if messages %} 
  {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

</div>

  <h1 class="p-3 me-3">Login</h1>
  <div class="m-5">

    <form method="POST" action="" class="">
      {% csrf_token %}

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</body>
</html>